<!DOCTYPE html >
<html>
<body>
    <header>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
        <div id="logo"> 
            <h2>WikiTrends</h2>
        </div> 
        <div id="topNav">
            <nav>
                <li><a href="/">Home</a></li>
                <li class="active"><a href="event">EventViews</a></li>
                <li><a href="#">Trendings</a></li>
            </nav>
        </div>
    </header>

    <div class = "home-page">
        <hr>
        <h4>Hi, this is the home page of our web-application. EventViews</h4>
    </div>

</body>
</html>

